.footer_toolbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  //background-color: rgb(233, 140, 140);

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.socials {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;

  a {
    height: 30px;
  }

  svg {
    height: 30px;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
}