@if (product) {
  <div class="product-card">
    <app-carousel [product]="product" [openId]="openId"></app-carousel>
    <div class="product-specs">
      <h1>{{product.name}} </h1>
      <p>{{product.price}} UAH</p>
      <form>
        <div> Колір
          <mat-chip-listbox>
            @for (item of product.color; track $index) {
              <mat-chip-option 
              #ChipRef
              (click)="pickColor(ChipRef, item.name)">
                <svg matChipAvatar width="18" height="18">
                  <circle cx="9" cy="9" r="9" [attr.fill]="item.hex" />
                </svg>
                {{item.name | titlecase}}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
        <div>Розмір
          <mat-chip-listbox>
            @for (item of product.size; track $index) {
              <mat-chip-option 
              #ChipRef 
              (click)="pickSize(ChipRef, item)">
                {{item}}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </form>
      <h3>Опис</h3>
      <p>{{product.description}}</p>
      <button mat-raised-button type="button" (click)="addToCart()">Додати в кошик</button>
    </div>
  </div>
}

