:host {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: calc(100% * (1/4) - 20px);
  margin: 10px 10px;
  text-decoration: none;
  color: #000000;

  @media (max-width: 425px) {
    width: calc(100% * (1/2) - 20px);
  }

  img {
    width: 100%;
  }

  .price {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
  }
}