:host {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.disabled-scroolbar::-webkit-scrollbar {
  width: 0px;
}

.form-field {
  width: 100%;
  max-width: 400px;
}

.disabled-scroolbar {
  -ms-overflow-style: none;
}