<mat-form-field appearance="outline" class="form-field">
  <mat-label>Призвіще</mat-label>
  <input type="text"
         placeholder="Призвіще"
         aria-label="Призвіще"
         matInput
         >
</mat-form-field>

<mat-form-field appearance="outline" class="form-field">
  <mat-label>Ім'я</mat-label>
  <input type="text"
         placeholder="Ім'я"
         aria-label="Ім'я"
         matInput
         >
</mat-form-field>
<mat-form-field appearance="outline" class="form-field">
  <mat-label>Телефон</mat-label>
  <input type="text"
         placeholder="Телефон"
         aria-label="Телефон"
         matInput
         >
</mat-form-field>

<mat-form-field appearance="outline" class="form-field">
  <mat-label>Місто</mat-label>
  <input type="text"
         placeholder="Пошук міста"
         aria-label="Місто"
         matInput
         (input)="filterCity()"
         [formControl]="controlCity"
         [matAutocomplete]="autoCity">
         
  <mat-autocomplete #autoCity="matAutocomplete">
    @for (option of searchCity | async; track option) {
      @if ($index) {
        <mat-divider></mat-divider>
      }
      @if($index %2){

        <mat-option [value]="option.Description" (onSelectionChange)="findCity(option)">{{option.Description}}</mat-option>
      } @else {

        <mat-option style="background-color: rgb(233, 233, 233);" [value]="option.Description" (onSelectionChange)="findCity(option)">{{option.Description}}</mat-option>
      }
    }
  </mat-autocomplete>
  @if (controlCity.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="resetCityValue()">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>





<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Відділення</mat-radio-button>
  <mat-radio-button value="2">Поштомат</mat-radio-button>
</mat-radio-group>
<br>

<mat-form-field  appearance="outline" class="form-field">
  <mat-label>Відділення</mat-label>
  <input type="text"
         placeholder="Номер відділення/поштомату"
         aria-label="Відділення"
         matInput
         (input)="filterWarehouse()"
         [formControl]="controlWarehouse"
         [matAutocomplete]="autoWarehouse">
  <mat-autocomplete #autoWarehouse="matAutocomplete">
  @if(cityRef){

    @for (option of searchWarehouse | async; track $index) {
      @if ($index) {
        <mat-divider></mat-divider>
      }
      <mat-option [value]="option.Description" (onSelectionChange)="warehouseRef = option.Ref">{{option.Description}}</mat-option>
      
    }
  }
  
    
  </mat-autocomplete>
  @if (controlWarehouse.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="resetWarehouseValue()">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<mat-form-field appearance="outline" style="position: relative;" class="form-field">
  <mat-label>Місто</mat-label>
  <mat-select class="disabled-scroolbar" placeholder="City">
    <div style="position: sticky;top: 0; width: 100%; background-color: rgb(255, 255, 255);">

      <mat-form-field style="width: 100%;"  appearance="outline">
  
        <input matInput 
                placeholder="Пошук" 
                (input)="filterCity()"
                [formControl]="controlCity">
      </mat-form-field>
    </div>
    @for (option of searchCity | async; track option) {
      @if ($index) {
        <mat-divider></mat-divider>
      }
      <mat-option [value]="option.Description" (onSelectionChange)="findCity(option)">{{option.Description}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<h2>Загальна сума: 400 грн</h2>
<button class="form-field" mat-raised-button>Оплатити</button>